/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
  margin: 15px;

  border-radius: 15px;


  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* LINKS */
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* HOVER EFFECT */
.links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #ff6b6b;
  transition: 0.3s;
}

.links a:hover::after {
  width: 100%;
}

/* CART BADGE */
.cart {
  position: relative;
}

.badge {
  background: #ff6b6b;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px;
}

/* MOBILE MENU ICON */
.menuIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .links {
    position: absolute;
    top: 70px;
    right: 20px;

    flex-direction: column;
    gap: 15px;

    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;

    display: none;
  }

  .active {
    display: flex;
  }
}